$control-icon-size: 1.5rem;

.shoco-empreendimentos {
    .title {
        color: #0a2f40;
        margin-bottom: 2.5rem;
    }

    .carousel {
        .item {
            padding: 0 0.5rem;

            .inner {
                background-color: white;
                border-radius: 20px;
                overflow: hidden;
            }

            .image {
                img {
                    border-radius: 20px;
                }
            }

            .info {
                padding: 20px 15px;

                .nome {
                    font-weight: bold;
                }

                .endereco {
                    font-size: 0.8rem;

                    .icon {
                        color: var(--bs-primary);
                    }

                    .text {
                        font-weight: 500;
                        color: rgba(#000, 0.5);
                    }
                }

                .action {
                    margin-top: 0.75rem;
                    a {
                        font-weight: 700;
                        font-size: 0.8rem;
                        border-radius: 20px;
                        display: inline-block;
                        padding: 7px 14px;
                        border: solid 2px var(--bs-primary);
                    }
                }
            }
        }

        .carousel-control {
            &-prev {
                left: calc(-1 * $control-icon-size * 1.5);
            }
            &-next {
                right: calc(-1 * $control-icon-size * 1.5);
            }

            &-prev,
            &-next {
                opacity: 1;

                width: $control-icon-size;

                .carousel-control-next-icon,
                .carousel-control-prev-icon {
                    border-radius: 50%;
                    margin: auto;

                    width: unset;
                    height: unset;

                    font-size: $control-icon-size;

                    color: #6a6a6a !important;
                    font-family: bootstrap-icons;
                    font-weight: bolder;

                    background-image: none;

                    display: flex;

                    transition: font-size 0.3s;
                }

                &:hover,
                &:focus,
                &:active {
                    opacity: 1;

                    .carousel-control-next-icon,
                    .carousel-control-prev-icon {
                        font-size: calc($control-icon-size * 1.25);
                    }
                }

                .carousel-control-prev-icon::before {
                    content: "\f284";
                    margin: auto;
                }

                .carousel-control-next-icon::before {
                    content: "\f285";
                    margin: auto;
                }
            }
        }

        .carousel-indicators {
            margin-bottom: 0;
            bottom: -2rem;
            button {
                width: 10px;
                height: 10px;
                border-radius: 10px;
                border: none;
                background-color: var(--bs-primary);
                // opacity: .5;

                &.active {
                    opacity: 1;
                }
            }
        }
    }
}

@media all and (max-width: 576px) {
    .shoco-empreendimentos {
        
        .carousel {
            .carousel-item {
                .item {
                    padding: 0;

                    .image {
                        img {
                            width: 100%;
                            height: 250px;
                            display: block;
                            object-fit: cover;
                        }
                    }
                }
            }

            .carousel-control {
                &-prev {
                    left: -0.75rem;
                }
                &-next {
                    right: -0.75rem;
                }
            }
        }
    }
}
