header {
  background-color: white;
  width: 100%;
  font-size: 200;
}
header .navbar-brand .custom-logo {
  height: 45px;
  width: auto;
}
header .navbar-toggler .icon {
  font-size: 1.8rem;
}
header .menu-item {
  display: flex;
  font-weight: 600;
}
header .menu-item .nav-link {
  margin: auto;
  color: #195766;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.1rem 0 !important;
  margin: auto 0.5rem !important;
  letter-spacing: 1px;
}
header .menu-item .nav-link:hover, header .menu-item .nav-link:focus {
  color: var(--bs-dark);
}
header .menu-item .nav-link:active {
  color: var(--bs-primary);
}
header .menu-item .nav-link span {
  transition: border-bottom-color 0.1s ease;
  border-bottom: solid 1px transparent;
}
header .menu-item:last-child .nav-link {
  border: solid 2px #69939c;
  color: #69939c;
  border-radius: 50rem;
  padding-left: 0.85rem !important;
  padding-right: 0.85rem !important;
}
header .menu-item:last-child .nav-link:hover, header .menu-item:last-child .nav-link:focus {
  background-color: rgba(25, 87, 102, 0.1);
}
header .menu-item:last-child .nav-link:active {
  border-color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 1);
  color: white;
}
header .menu-item:last-child .nav-link span {
  transition: border-bottom-color 0.1s ease;
  border-bottom: solid 1px transparent;
}
header .menu-item .dropdown-menu {
  text-align: right;
  color: #195766;
  border: none;
  border-radius: 5px;
  background-color: white;
}
header .menu-item .dropdown-menu .dropdown-item {
  color: #195766;
}
header .menu-item .dropdown-menu .dropdown-item:hover, header .menu-item .dropdown-menu .dropdown-item:active, header .menu-item .dropdown-menu .dropdown-item:focus {
  color: var(--bs-dark);
}
header .menu-item.current-menu-item .nav-link {
  color: var(--bs-primary);
}
header .menu-item.current-menu-item:last-child .nav-link {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: white;
}
header .navbar-toggler {
  border: none;
  color: #195766;
}
header .navbar-toggler .fa-lg {
  line-height: unset;
}
header .action a {
  color: #2dbf43;
  text-decoration: none !important;
  transition: color 0.1s;
}
header .action a:hover, header .action a:active, header .action a:focus {
  color: #1c942e;
}

@media all and (min-width: 1200px) {
  header .menu-item {
    margin-right: 1rem;
  }
}
@media all and (min-width: 768px) {
  header .action {
    flex-basis: unset;
    flex-grow: unset;
    align-items: unset;
  }
}
@media all and (max-width: 767.99px) {
  header .custom-logo {
    width: 180px !important;
  }
}
footer .footer-nav {
  background-color: #108796;
  color: white;
}
footer .footer-nav .brand {
  display: flex;
}
footer .footer-nav .brand img {
  margin: auto 0;
  height: 60px;
}
footer .footer-nav .social {
  margin: auto;
  margin-left: 0;
}
footer .footer-nav .social a {
  margin: auto 0.5rem;
  display: inline-block;
  transition: transform 0.2s;
}
footer .footer-nav .social a:hover, footer .footer-nav .social a:active, footer .footer-nav .social a:focus {
  transform: scale(1.25);
}
footer .footer-nav .social a:first-child {
  margin-left: 0;
}
footer .footer-nav .social a:last-child {
  margin-right: 0;
}
footer .footer-nav .menu-item {
  display: flex;
  font-weight: 400;
}
footer .footer-nav .menu-item:first-child .nav-link {
  margin-left: 0 !important;
}
footer .footer-nav .menu-item:last-child .nav-link {
  margin-right: 0 !important;
}
footer .footer-nav .menu-item .nav-link {
  margin: auto;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 0.1rem 0 !important;
  margin: 0 0.75rem auto !important;
  letter-spacing: 1px;
}
footer .footer-nav .menu-item .nav-link:hover, footer .footer-nav .menu-item .nav-link:focus {
  color: rgba(255, 255, 255, 0.5);
}
footer .footer-nav .menu-item .nav-link:active {
  color: var(--bs-primary);
}
footer .footer-nav .menu-item .nav-link span {
  transition: border-bottom-color 0.1s ease;
  border-bottom: solid 1px transparent;
}
footer .footer-nav .menu-item.dropdown {
  display: flex !important;
  flex-direction: column !important;
}
footer .footer-nav .menu-item.dropdown .dropdown-toggle::after {
  display: none !important;
}
footer .footer-nav .menu-item.dropdown .dropdown-menu {
  position: relative !important;
  display: block !important;
  text-align: right;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #108796;
}
footer .footer-nav .menu-item.dropdown .dropdown-menu .dropdown-item {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 0.25rem 0.5rem !important;
  padding-right: 0 !important;
  font-size: 0.85rem !important;
  background-color: transparent;
}
footer .footer-nav .menu-item.dropdown .dropdown-menu .dropdown-item:hover, footer .footer-nav .menu-item.dropdown .dropdown-menu .dropdown-item:active, footer .footer-nav .menu-item.dropdown .dropdown-menu .dropdown-item:focus {
  color: white;
}
footer .footer-info {
  background-color: #195766;
  color: white;
}
footer .footer-info .phones a {
  color: inherit;
}
footer .footer-info .phones a:hover, footer .footer-info .phones a:focus, footer .footer-info .phones a:active {
  color: rgba(255, 255, 255, 0.6);
}
footer .footer-info .phones h5 {
  font-weight: 600;
}
footer .footer-info .address {
  text-transform: uppercase;
  font-size: 0.75rem;
}
footer .footer-info .address p {
  margin: 0;
}
footer .footer-info .address a {
  color: inherit;
}
footer .footer-info .address a:hover, footer .footer-info .address a:focus, footer .footer-info .address a:active {
  color: rgba(255, 255, 255, 0.6);
}
footer .footer-bottom {
  background-color: #0A2F40;
  color: white;
  font-size: 0.75rem;
}
footer .footer-bottom a {
  color: inherit;
}
footer .footer-bottom a:hover, footer .footer-bottom a:focus, footer .footer-bottom a:active {
  color: rgba(255, 255, 255, 0.6);
}

.shoco-empreendimentos .title {
  color: #0a2f40;
}
.shoco-empreendimentos .items .item .inner {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.shoco-empreendimentos .items .item .image img {
  border-radius: 20px;
}
.shoco-empreendimentos .items .item .info {
  padding: 20px 15px;
}
.shoco-empreendimentos .items .item .info .nome {
  font-weight: bold;
}
.shoco-empreendimentos .items .item .info .endereco {
  font-size: 0.8rem;
}
.shoco-empreendimentos .items .item .info .endereco .icon {
  color: var(--bs-primary);
}
.shoco-empreendimentos .items .item .info .endereco .text {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
.shoco-empreendimentos .items .item .info .action {
  margin-top: 0.75rem;
}
.shoco-empreendimentos .items .item .info .action a {
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 20px;
  display: inline-block;
  padding: 7px 14px;
  border: solid 2px var(--bs-primary);
}

@media all and (max-width: 576px) {
  .shoco_empreendimentos .items .item {
    max-width: 300px;
  }
}
.shoco-spe .image img {
  width: calc(200px + 10vw);
}

@media all and (max-width: 768px) {
  .shoco-spe .image img {
    max-width: 100%;
  }
}
.shoco-gpr-form {
  background-repeat: no-repeat;
  background-position: center 35%;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
}
.shoco-gpr-form .wrap {
  background: rgba(10, 47, 64, 0.5);
}
.shoco-gpr-form .wrap .form-content {
  background-color: white;
  border-radius: 20px;
  width: 450px;
  max-width: 450px;
  padding: 2.25rem 1.5rem;
}
.shoco-gpr-form .wrap .form-content .form-label {
  color: #108796;
  font-weight: 600;
  font-size: 0.9rem !important;
  margin-bottom: 0;
}
.shoco-gpr-form .wrap .form-content .form-control {
  border: solid 1px #56838E;
  border-radius: 5px;
  background-color: transparent;
}
.shoco-gpr-form .wrap .form-content .form-control::-moz-placeholder {
  color: #56838E;
}
.shoco-gpr-form .wrap .form-content .form-control:-ms-input-placeholder {
  color: #56838E;
}
.shoco-gpr-form .wrap .form-content .form-control::placeholder {
  color: #56838E;
}
.shoco-gpr-form .wrap .form-content .form button {
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  letter-spacing: 1.5px;
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
}

.wpcf7 form .wpcf7-response-output {
  margin: 1rem 0 !important;
  border-radius: 5px;
  padding: 10px 20px;
  border: none !important;
}

.wpcf7 form.init .wpcf7-response-output {
  display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
  background-color: var(--bs-success);
  /* Green */
  color: white;
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  background-color: var(--bs-danger);
  /* Red */
  color: white;
}

.wpcf7 form.spam .wpcf7-response-output {
  background-color: #f56e28;
  /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  background-color: var(--bs-warning);
  /* Yellow */
}

.wpcf7-not-valid-tip {
  color: var(--bs-danger);
  margin-top: 5px;
}

.wpcf7-not-valid {
  border: solid 1px var(--bs-danger) !important;
}

label[for] {
  cursor: pointer;
}

.tlink {
  color: inherit !important;
  text-decoration: none;
  transition: color 0.2s;
}
.tlink.hover-primary:hover, .tlink.hover-primary:active, .tlink.hover-primary:focus {
  color: var(--bs-primary);
}
.tlink.hover-light:hover, .tlink.hover-light:active, .tlink.hover-light:focus {
  color: var(--bs-light);
}
.tlink.hover-dark:hover, .tlink.hover-dark:active, .tlink.hover-dark:focus {
  color: var(--bs-dark);
}

.dropdown .nav-link {
  display: inline-block !important;
}
.dropdown .dropdown-toggle::after {
  cursor: pointer;
  font-family: "bootstrap-icons";
  content: "\f282";
  line-height: 1;
  vertical-align: -0.1em;
  -webkit-text-stroke: 1px inherit;
  border: none;
  padding-right: 0;
}
.dropdown .dropdown-menu {
  padding: 0 !important;
}
.dropdown .dropdown-menu .menu-item {
  margin: 0;
}
.dropdown .dropdown-menu .menu-item a {
  transition: background-color 0.2s;
  padding: 0.5rem 1rem;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

body {
  overflow-y: scroll !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #596b74;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f4f57;
}

*::-moz-selection {
  background-color: var(--bs-primary);
  color: white;
}

*::selection {
  background-color: var(--bs-primary);
  color: white;
}

p:last-child {
  margin-bottom: 0;
}
