// Import partials
@import "partials/header";
@import "partials/footer";
@import "partials/arquivo";

// Import shortcodes
@import "shoco/empreendimentos";
@import "shoco/gpr-form";
@import "shoco/aboutus";
@import "shoco/negocio";
@import "shoco/empreendimentos-list";
@import "shoco/cta-acesso";
@import "shoco/address-map";
@import "shoco/arquivos";

// Import helpers
@import "form";
@import "util";

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

body {
    overflow-y: scroll !important;

    &.error404 {
        display: flex;
        flex-flow: column;
        min-height: 100vh;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f2f2f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #596b74;
    cursor: pointer;
    transition: background-color .2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3f4f57;
}

*::selection {
    background-color: var(--bs-primary);
    color: white;
}

p:last-child {
    margin-bottom: 0;
} 