.tlink {
    color: inherit !important;
    text-decoration: none;
    transition: color .2s;

    &.hover {
        &-primary {
            &:hover,
            &:active,
            &:focus {
                color: var(--bs-primary);
            }
        }

        &-light {
            &:hover,
            &:active,
            &:focus {
                color: var(--bs-light);
            }
        }

        &-dark {
            &:hover,
            &:active,
            &:focus {
                color: var(--bs-dark);
            }
        }
    }
}

.dropdown {

    .nav-link {
        display: inline-block !important;
    }

    .dropdown-toggle {
        
        &::after {

            cursor: pointer;
            font-family: 'bootstrap-icons';
            content: '\f282';
            line-height: 1;
            vertical-align: -0.1em;
            -webkit-text-stroke: 1px inherit;
            
            border: none;
            padding-right: 0;

        }
    }

    .dropdown-menu {
        padding: 0 !important;

        .menu-item {
            margin: 0;

            a {
                transition: background-color 0.2s;
                padding: .5rem 1rem;
            }
        }
    }
}

.shoco-dna {
    .title {
        color: #195766;

        * {
            font-weight: 300;
        }
    }
    
    .text {
        color: #195766;
        font-size: 1.1rem;
    }
}

.text-bluegpr {
    color: #195766;
}

.regular-title {
    color: #195766;
}